<div *ngIf="user" class="user-details">
  <div class="card shadow">
    <div class="card-header text-center bg-primary text-white">
      <h2>User Details</h2>
    </div>
    <div class="card-body">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p><strong>First Name:</strong> {{ user.prenom }}</p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
    </div>

  </div>
</div>

<div *ngIf="!user" class="loading text-center">
  <p>Loading user data...</p>
  
</div>
